.svg-background-wave {
    position: fixed;
    background-image: url('../../Assets/SVG/Wave.svg');
    background-repeat: no-repeat;
    background-size: cover;

    bottom: 0;
    height: 500px;
    z-index: -1;
    filter: blur(40px);
}
