.font-plex-sans {
    font-family: "IBM Plex Sans";
}

.font-plex-serif-medium {
    font-family: "IBM Plex Serif medium";
}

.font-plex-serif{
    font-family: "IBM Plex Serif";
}

.font-plex-sans-medium {
    font-family: "IBM plex Sans medium";
}
